.lbltextHeader.fa{
    font-size: 2rem;
}
.lbltextHeader{
    height: 25px;
}
.btnLoginAlign{
    display: block;
    float: none;
    margin: auto;
}
p {
    font-family: Lato;
  }
  .error-message {
    color: red;
  }
  input.ng-touched.ng-invalid {
    border: 1px solid red;
  }