<div class="col-xs-4 col-sm-5">
    <img src="../assets/images/logo.png" class="img-responsive logo" />
</div>
<div class="col-xs-8 col-sm-7">
    <div ngbDropdown class="d-inline-block">
        <a class="containerNot" id="dropdownLogin" ngbDropdownToggle>
            <i class="fa fa-user lbltextHeader"></i>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownLogin">
            <button ngbDropdownItem [routerLink]="'/LoginComponent'">Log In</button>
            <button ngbDropdownItem [routerLink]="'/CreateLoginComponent'">Create Users</button>
            <button ngbDropdownItem>Add User Permission</button>
            <button ngbDropdownItem>Profile</button>
        </div>
    </div>
    <i class="fa fa-cog lbltextHeader"></i>
    <div ngbDropdown class="d-inline-block">
        <a class="containerNot" id="dropdownNotify" ngbDropdownToggle>
            <i class="fa fa-bell lbltextHeader"></i>
            <span class="notification">5</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownNotify">
            <button ngbDropdownItem>Client One</button>
            <button ngbDropdownItem>Client Two</button>
            <button ngbDropdownItem>Client Three</button>
            <button ngbDropdownItem>Client Four</button>
            <button ngbDropdownItem>Client Five</button>
        </div>
    </div>
    <label for="" class="lbltextHeader"><a href="tel:+91 80-26635854">+91 80-26635854</a></label>
    <i class="fa fa-phone lbltextHeader"></i>
</div>