<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group form-inline">
        Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
        <div class="input-group-append">
          <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fa fa-search text-grey"
              aria-hidden="true"></i></span>
        </div>
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
      </div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="date" (sort)="onSort($event)">Company Name</th>
            <th scope="col" sortable="ticketNumber" (sort)="onSort($event)">Contact Person</th>
            <th scope="col" sortable="priority" (sort)="onSort($event)">Phone</th>
            <th scope="col" sortable="client" (sort)="onSort($event)">Email</th>
            <th scope="col" sortable="city" (sort)="onSort($event)">City</th>
            <th scope="col" sortable="city" (sort)="onSort($event)">Approval</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of ticketlists$ | async">
            <th scope="row">{{ country.id }}</th>
            <td>
              <ngb-highlight [result]="country.CName" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight class="linkUpdate" [result]="country.CPerson" [term]="service.searchTerm">
              </ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="country.CNumber" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="country.Email" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="country.CService" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td>
              <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                <button class="btn btn-primary"  (click)="openLg(approvalStatus, country)">
                  View
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="15">15 items per page</option>
        </select>
      </div>

    </form>
  </div>
</div>
<ng-template #approvalStatus  let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalContent.client }}
      <label>View application</label>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formGroup" (validSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="col-sm-12">
        <table class="popup">
          <tr>
            <td><label>{{ modalContent.CName }}</label></td>
            <td><label>{{ modalContent.CRegNumber }}</label></td>
            <td><label>{{ modalContent.CPerson }}</label></td>
            <td><label>{{ modalContent.PNumber }}</label></td>
          </tr>
          <tr>
            <td><label>{{ modalContent.CAddress }}</label></td>
            <td><label>{{ modalContent.CNumber }}</label></td>
            <td><label>{{ modalContent.Email }}</label></td>
            <td><label>{{ modalContent.CPan }}</label></td>
          </tr>
          <tr>
            <td><label>{{ modalContent.CGST }}</label></td>
            <td><button class="btn btn-info">Vendor Form</button></td>
            <td><button class="btn btn-info">Download NDA</button></td>
            <td><button class="btn btn-info">Download Agreement</button></td>
          </tr>
          <tr>
            <td><label>{{ modalContent.Description }}</label></td>
            <td><label>{{ modalContent.BCName }}</label></td>
            <td><label>{{ modalContent.BANumber }}</label></td>
            <td><label>{{ modalContent.BName }}</label></td>
          </tr>
          <tr>
            <td><label>{{ modalContent.IFSC }}</label></td>
            <td><label>{{ modalContent.MICR }}</label></td>
            <td><label>{{ modalContent.CService }}</label></td>
          </tr>
        </table>
      </div>
      <!-- <div class="form-group">
        <label for="discription">Description</label>
        <textarea class="form-control" id="discription" rows="3" placeholder="Reason for unapproval" formControlName="Description"></textarea>
      </div>
      <div class="form-group" [customErrorMessages]="customErrorMessages">
        <label class="control-label">Email</label>
        <input type="email" class="form-control" placeholder="Vendor Eamil id" formControlName="Email">
      </div>
      <div class="form-group">
        <label for="MNumber">Mobile Number</label>
        <input type="text" class="form-control" maxlength="10" placeholder="Mobile number" formControlName="MNumber">
      </div> -->
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cancel</button>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
      <button class="btn btn-danger"  (click)="open(notApproved, country)">
        Not Approved
      </button>
    </div>
    <button type="submit" class="btn btn-success">Approve</button>
  </div>
</ng-template>



<ng-template #notApproved  let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <label>Please provide valid reason for rejection of application</label>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formGroup" (validSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <!-- <label>{{ modalContentdata.CName }}</label>
        <label>{{ modalContentdata.Email }}</label> -->
        <label for="discription">Description</label>
        <textarea class="form-control" id="discription" rows="3" placeholder="Reason for unapproval" formControlName="Description"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</ng-template>