.login-container{
    background-color: #313d94;
    max-width:400px;
    max-height: 400px;
    margin:25px auto;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.5);
    padding:35px;
}
label{
    color:#fff;
}
.form-group-btn{
    min-height: 35px;
}
.forgotpwd{
    color: #fff;
    font-size: 10px;
}
.login-icon{
    background-color: darkgray;
    border: 3px solid #00984e;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 15px;
    left: 47.75%;
    right: 50%;
}
.login-icon .fa{
    color: #fff;
    font-size: 3rem;
    display: block;
    text-align: center;
    margin-top: 8px;
}